<!DOCTYPE html>
<html>
  <head>
    <title>SocialPosts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Posts Demo</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div><!--/row-->

      <footer>
        <p>&copy; Company <%= Date.today.year %></p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
